@charset "utf-8";
h1 {
	font-family: 'Merriweather', serif;
}
p{
	font-family: 'open_sansregular', sans-serif;
}
i.fas {
	color: green;
}
header {
	background: #A0E03A;
}
logo. {
	float: left;
	width: 100px;
	padding: 15px;
	box-sizing: border-box;
	background: #BBDEFB;
}
.desktop-nav {
	 float: right;
	 width: calc(100%-100px);
	 display: none;
}